
    body{
      background-color: skyblue;
    }
    h1{
      color:#7A0BC0;
    }

    h3{
      color:#7A0BC0;
    }

  hr {

    border-style:none;

    border-top-style:dotted;

    border-color:grey;
    border-width:5px;

    border: 5%;

     }
